@font-face {
    font-family: 'Viga';
    src: url(../fonts/Viga-Regular.ttf) format('truetype');
}

/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}


.navbar-brand {
    font-family: 'Viga', 'Times New Roman', Times, serif;
    font-size: 32px;
}


/* akhir Navbar */

/* Jumbotron */
.jumbotron {
    background-image: url(../img/bg4.jpg);
    background-size: cover;
    height: 550px;
    position: relative;
}

.jumbotron .content {
    margin-top: 200px;
}

.jumbotron h1 {
    font-size: 40px;
    font-weight: 200;
    color: white;
    margin-bottom: 30px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
}

.jumbotron h1 span {
    font-weight: 500;
}

.jumbotron::after {
    content: '';
    display: block;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* Jumbotron */

.info-panel {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .8);
    border-radius: 10px;
    padding: 30px;
    margin-top: -100px;
    background-color: white;
}

.info-panel img {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}

.info-panel h5 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.info-panel p {
    font-size: 14px;
    font-weight: 200;
    color: #acacac;
    font-style: italic;
}

.workspace {
    margin-top: 150px;
    text-align: center;
}

.workspace h5 {
    font-size: 40px;
    font-weight: 200;
    margin-top: 50px;
}

.workspace span {
    font-weight: 500;
}

.workspace p {
    font-size: 18px;
    color: #acacac;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 15px;
}

.testimonial {
    margin-top: 150px;

}

.testimonial p {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}

.testimonial .figure img {
    width: 60px;
    height: 60px;
    margin: 20px 15px 10px;
    opacity: 0.5;
}

.testimonial .figure img.utama {
    opacity: 1;
    width: 100px;
    height: 100px;
    margin-top: -5px;
}

.figure h5 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: -5px;
}

.testimonial .figure p {
    font-size: 14px;
    color: #acacac;
    font-style: italic;
    text-align: center;
    margin-top: -5px;
}

.footer p {
    font-size: 20px;
    color: #acacac;
    margin-top: 100px;
}

/* Utility */
.tombol {
    border-radius: 40px;
    color: white;
    text-transform: uppercase;
}



/* Ukuran destop version  */
@media (min-width: 992px) {
    .nav-link {
        margin-right: 20px;
        text-transform: uppercase;
    }

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, .8);
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        width: 50%;
        border-bottom: 3px solid blue;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 650px;
    }

    .jumbotron h1 {
        font-size: 60px;
    }

    .workspace {
        text-align: left;
    }

    .workspace h5 {
        font-size: 50px;
    }

    .workspace p {
        font-size: 20px;
    }

    .testimonial p {
        font-size: 30px;
    }
}